<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/logo.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('../partials/header') %> <%- include('../partials/router') %>
    <% blogs.forEach((blog) => { %>
      <div class="card" style="width: 18rem">
        <% if (blog.image) { %>
          <img class="card-img-top" src="<%= blog.image.url %>" alt="Card image cap" />
        <% } else { %>
          <img class="card-img-top" src="..." alt="Card image cap" />
        <% } %>
        
        <div class="card-body">
          <h5 class="card-title"><%= blog.title %></h5>
          <p class="card-text">
            <%= blog.description %>
          </p>
          <a href="/blog/<%= blog._id %>" class="btn btn-primary">View Blog</a>
        </div>
      </div>
    <%}); %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
